@import "../../../index.styl"
.forgot-main 
    position fixed
    top 50%
    left 50%
    transform translate(-50%, -50%)

.forgot-input-wrap
    width 100%
    padding 20px
    input 
        width 100%
        padding 15px 
        inputStyles()

.forgot-btn-wrap button 
    margin 20px 
    background darken(#DDD, 10%)
    padding 10px 15px
    border-radius 5px
    &:hover 
        opacity .5