.settings 
    display flex 
    justify-content center
    align-items center
    flex-wrap wrap
    padding-top 10px

.settings-section 
    display flex
    flex-wrap wrap 
    flex 70% 
    padding 20px
    font-family Arial, Helvetica, sans-serif
    label 
        display block
        margin-bottom 10px
        flex 100%
    input 
        flex 70%
        border 2px solid #f4f4f4
        &:focus 
            border 2px solid #DDD
    button 
        border-top-right-radius 10px 
        border-bottom-right-radius 10px
        padding 20px
        border none 
        background darken(blue, 20%)
        color #f4f4f4
        cursor pointer
        &:hover 
            opacity .5
    a  
        background #333333
        padding 10px 15px
        color #f4f4f4
        border-radius: 5px
        text-decoration none
        &:hover 
            opacity .5
            cursor pointer

.settings-btn 
    display flex 
    flex 100% 
    margin 10px 
    button, a 
        padding 10px 15px 
        color #f3f3f3
        margin 10px
    button 
        background red
    a   
        background green

      